# pandas

*pandas* is a Python library for data analysis which provides fast, powerful, flexible and easy to use open source data analysis and manipulation tools. It also provides expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data both easy and intuitive. In pandas, the data table is called DataFrame. Using pandas, you can explore, clean and process your data.  

It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

*pandas* build upon *numpy* and *scipy* providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes
* Working with timestamps and time-series data

This notebook is a summary of an introductions to pandas and some of its methods. 

#### Imprt Libraries
The first step in using different libraries in Python is importing libraries so that it will be accessible for use. You can import the library by its name as it is or using aliases to make its usage easier.

In [1]:
import datetime
current_time = datetime.datetime.now()
current_time.isoformat()

'2022-01-18T19:58:32.431139'

In [2]:
import datetime as dt
current_time = dt.datetime.now()
current_time.isoformat()

'2022-01-18T19:58:32.539847'

In [3]:
# Import the library with alias and print its version
import numpy as np
import pandas as pd
pd.__version__

'1.3.4'

There are two major pandas data structures: Series and DataFrames.
* Series: a one-dimensional labeled array-like object that capable of holding any data type and it maps an index to values. 
* DataFrame: a 2-dimensional labeled data structure ( a rectangular table of data) with potentially different data types. It has both  row/s and column/s.

You can import different data files such as Excel, CSV, SAs, SPSS, ...etc to pandas DataFrame.

In [4]:
# Creating Series
s = pd.Series(np.random.randn(5), name="Series1")
s

0    2.261948
1    0.847143
2   -1.308370
3    0.731112
4    1.016128
Name: Series1, dtype: float64

In [5]:
# checking name of the series
s.name

'Series1'

In [6]:
# Creating DataFrame
df1 = pd.DataFrame.from_dict(dict([("A", [1, 2, 3, 4]), ("B", [10, 11, 12, 13])]))
df1.head()

   A   B
0  1  10
1  2  11
2  3  12
3  4  13

In [7]:
df1 = df1.drop(index=[1,3])
df1.head()

   A   B
0  1  10
2  3  12

In [8]:
df1 = df1.reset_index()

df1.head()

   index  A   B
0      0  1  10
1      2  3  12

In [9]:
# Creating another DataFrame
df2 = pd.DataFrame.from_dict(
    dict([("A", [1, 2, 3, 4]), ("B", [10, 11, 12, 13])]),
    orient="index",
    columns=["One", "Two", "Three", "Four"],)
df2.head()

   One  Two  Three  Four
A    1    2      3     4
B   10   11     12    13

In [10]:
# Main DataFrame components
columns = df2.columns
index = df2.index
data = df2.values

In [11]:
columns

Index(['One', 'Two', 'Three', 'Four'], dtype='object')

In [12]:
index

Index(['A', 'B'], dtype='object')

In [13]:
data

array([[ 1,  2,  3,  4],
       [10, 11, 12, 13]], dtype=int64)

In [14]:
# Dimension of the DataFrame
df2.shape

(2, 4)

In [15]:
# DataFrame values
df2.values

array([[ 1,  2,  3,  4],
       [10, 11, 12, 13]], dtype=int64)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, A to B
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   One     2 non-null      int64
 1   Two     2 non-null      int64
 2   Three   2 non-null      int64
 3   Four    2 non-null      int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [17]:
# Associate's Degrees in Science and Engineering Conferred per 1,000 Individuals 18–24 Years Old (Degrees) this a publicly 
#1 Number of S&E Associete degrees receipients of 18 24 years old by state and year
df_assDe = pd.read_excel("se-associates-degrees-per-1000-18-24-year-olds.xlsx", skiprows = [0, 1, 2], 
                         usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

df_assDe.head()
df_assDe.columns

Index(['State', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'],
      dtype='object')

In [18]:
# 2 Number of individuals (18 24 years old) by state and year
df_indv = pd.read_excel("se-associates-degrees-per-1000-18-24-year-olds.xlsx", skiprows = [0, 1, 2], 
                         usecols = [0, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38 , 39])
df_indv.columns = ['State', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018']
df_indv.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,27744738.0,28423532.0,28908773.0,29340084.0,29719320.0,29849590.0,30001425.0,30197665.0,30579025.0,30909846.0,31138496.0,31454470.0,31745935.0,31860323.0,31780671.0,31484453.0,31156469.0,30871364.0,30761088.0
1,Alabama,442244.0,447963.0,450657.0,456549.0,457934.0,458170.0,459114.0,462996.0,470431.0,476884.0,479740.0,481821.0,485460.0,486952.0,481029.0,471969.0,462636.0,455854.0,452658.0
2,Alaska,57670.0,61774.0,65287.0,68253.0,71882.0,73591.0,74369.0,74383.0,75206.0,73249.0,75359.0,76122.0,77749.0,79653.0,78581.0,76872.0,74513.0,71961.0,70377.0
3,Arizona,519627.0,536018.0,549407.0,559859.0,571196.0,580341.0,591986.0,605860.0,621451.0,629438.0,635984.0,649306.0,663209.0,670120.0,677544.0,677130.0,677720.0,675845.0,687396.0
4,Arkansas,263749.0,268131.0,272203.0,275122.0,275779.0,274439.0,273882.0,275325.0,278835.0,281953.0,285507.0,289572.0,290876.0,291256.0,290495.0,286985.0,283384.0,280768.0,280578.0

In [19]:
df_indv.shape

(60, 20)

In [20]:
# 3 Degrees per 1000 individuals of 18 24 years old
df_Dper1000I = pd.read_excel("se-associates-degrees-per-1000-18-24-year-olds.xlsx", skiprows = [0, 1, 2], 
                         usecols = [0, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59])
df_Dper1000I.columns = ['State', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018']
df_Dper1000I.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,1.389056,1.595790,1.775413,2.144847,2.027166,1.834196,1.661588,1.572473,1.607834,1.756204,1.997881,2.416858,2.670736,2.692942,2.768223,2.877261,2.851157,3.001163,3.202520
1,Alabama,1.295665,1.428689,1.584354,1.938456,1.629056,1.385948,1.108657,0.771065,0.814147,0.769579,0.858799,1.019051,1.046430,0.975455,0.914706,0.904720,0.737081,0.651524,0.545666
2,Alaska,0.052020,0.000000,0.000000,0.908385,0.514732,0.271772,0.430287,0.215103,0.186155,0.177477,0.477713,1.247997,0.977505,1.205228,1.005332,0.741492,0.724706,0.833785,0.511531
3,Arizona,1.518397,1.858147,1.991238,2.372026,2.652329,2.365850,2.187552,2.469217,4.257777,8.227975,12.852525,17.843667,18.761808,13.842297,11.919521,10.029093,7.814437,6.417152,5.004393
4,Arkansas,0.686259,0.607912,0.753114,1.046808,0.790488,0.783416,0.828824,0.773631,0.613266,0.741258,0.816092,0.618154,0.587879,0.638613,0.691922,0.735230,0.635181,0.683839,0.976556

In [21]:
#df_Dper1000I['P'] = [a - b for a in df_Dper1000I['2002'] for b in  df_Dper1000I['2000'] for x in df_Dper1000I['State'] if x == "Alabama"]

df_Dper1000I['K'] = df_Dper1000I['2002']- df_Dper1000I['2000']  
df_Dper1000I.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,K
0,United States,1.389056,1.595790,1.775413,2.144847,2.027166,1.834196,1.661588,1.572473,1.607834,...,1.997881,2.416858,2.670736,2.692942,2.768223,2.877261,2.851157,3.001163,3.202520,0.386356
1,Alabama,1.295665,1.428689,1.584354,1.938456,1.629056,1.385948,1.108657,0.771065,0.814147,...,0.858799,1.019051,1.046430,0.975455,0.914706,0.904720,0.737081,0.651524,0.545666,0.288689
2,Alaska,0.052020,0.000000,0.000000,0.908385,0.514732,0.271772,0.430287,0.215103,0.186155,...,0.477713,1.247997,0.977505,1.205228,1.005332,0.741492,0.724706,0.833785,0.511531,-0.052020
3,Arizona,1.518397,1.858147,1.991238,2.372026,2.652329,2.365850,2.187552,2.469217,4.257777,...,12.852525,17.843667,18.761808,13.842297,11.919521,10.029093,7.814437,6.417152,5.004393,0.472841
4,Arkansas,0.686259,0.607912,0.753114,1.046808,0.790488,0.783416,0.828824,0.773631,0.613266,...,0.816092,0.618154,0.587879,0.638613,0.691922,0.735230,0.635181,0.683839,0.976556,0.066856

In [22]:
df_Dper1000I['P'] = [0 if x == 'Alabama' else df_Dper1000I['K'] for x in df_Dper1000I['State'] ]
df_Dper1000I.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,K,P
0,United States,1.389056,1.595790,1.775413,2.144847,2.027166,1.834196,1.661588,1.572473,1.607834,...,2.416858,2.670736,2.692942,2.768223,2.877261,2.851157,3.001163,3.202520,0.386356,0 0.386356 1 0.288689 2 -0.052020 3...
1,Alabama,1.295665,1.428689,1.584354,1.938456,1.629056,1.385948,1.108657,0.771065,0.814147,...,1.019051,1.046430,0.975455,0.914706,0.904720,0.737081,0.651524,0.545666,0.288689,0
2,Alaska,0.052020,0.000000,0.000000,0.908385,0.514732,0.271772,0.430287,0.215103,0.186155,...,1.247997,0.977505,1.205228,1.005332,0.741492,0.724706,0.833785,0.511531,-0.052020,0 0.386356 1 0.288689 2 -0.052020 3...
3,Arizona,1.518397,1.858147,1.991238,2.372026,2.652329,2.365850,2.187552,2.469217,4.257777,...,17.843667,18.761808,13.842297,11.919521,10.029093,7.814437,6.417152,5.004393,0.472841,0 0.386356 1 0.288689 2 -0.052020 3...
4,Arkansas,0.686259,0.607912,0.753114,1.046808,0.790488,0.783416,0.828824,0.773631,0.613266,...,0.618154,0.587879,0.638613,0.691922,0.735230,0.635181,0.683839,0.976556,0.066856,0 0.386356 1 0.288689 2 -0.052020 3...

In [23]:
df_Dper1000I['K'] = df_Dper1000I['2002']- df_Dper1000I['2000'] 
df_Dper1000I.dtypes
#print(df_Dper1000I['P'])
df_Dper1000I.shape

(60, 22)

In [26]:
for x in df_Dper1000I['2000']:
    if x != 1.295665:
        df_Dper1000I['P'] = 'Y'
    else:
        df_Dper1000I['P'] = 'N'
df_Dper1000I.head()
df_Dper1000I.dtypes
for x in df_Dper1000I['State']:
    if x == "United States":
        df_Dper1000I['P'] == 'Y'
        break 
    else:    
        df_Dper1000I['P'] == 'N'
         
df_Dper1000I.head()
# df_Dper1000I['P'] = (df_Dper1000I['py-score'] >= 80) & (df_Dper1000I['js-score'] >= 80)

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,K,P
0,United States,1.389056,1.595790,1.775413,2.144847,2.027166,1.834196,1.661588,1.572473,1.607834,...,2.416858,2.670736,2.692942,2.768223,2.877261,2.851157,3.001163,3.202520,0.386356,Y
1,Alabama,1.295665,1.428689,1.584354,1.938456,1.629056,1.385948,1.108657,0.771065,0.814147,...,1.019051,1.046430,0.975455,0.914706,0.904720,0.737081,0.651524,0.545666,0.288689,Y
2,Alaska,0.052020,0.000000,0.000000,0.908385,0.514732,0.271772,0.430287,0.215103,0.186155,...,1.247997,0.977505,1.205228,1.005332,0.741492,0.724706,0.833785,0.511531,-0.052020,Y
3,Arizona,1.518397,1.858147,1.991238,2.372026,2.652329,2.365850,2.187552,2.469217,4.257777,...,17.843667,18.761808,13.842297,11.919521,10.029093,7.814437,6.417152,5.004393,0.472841,Y
4,Arkansas,0.686259,0.607912,0.753114,1.046808,0.790488,0.783416,0.828824,0.773631,0.613266,...,0.618154,0.587879,0.638613,0.691922,0.735230,0.635181,0.683839,0.976556,0.066856,Y

In [ ]:
df_Dper1000I['P']  = df_Dper1000I.apply(lambda row: row["2003"] - row['2000'] if row["State"] == 'Alabama' else np.nan, axis=1)
df_Dper1000I.head(50)

In [ ]:
df_Dper1000I.iloc[:54]

In [ ]:
df_Dper1000I = df_Dper1000I.dropna()
df_Dper1000I.iloc[:54]

In [ ]:
df_Dper1000I = df_Dper1000I.iloc[1:54]

In [ ]:
df_Dper1000I.shape

In [ ]:
df_Dper1000I.index

In [ ]:
df_Dper1000I.dtypes

In [ ]:
df_Dper1000I.info()

In [ ]:
df_Dper1000I.describe(include = 'all')

There are several commands to work on data of *pandas* dataframe such as subsetting, grouping, and merging.

In [ ]:
state = df_Dper1000I['State']

In [ ]:
state.head()

In [ ]:
state.tail()

In [ ]:
type(df_Dper1000I)

In [ ]:
type(state)

In [ ]:
#df_Dper1000I.set_index('State', inplace = True)
df_Dper1000I.head()

In [ ]:
df_Dper1000I['2018'].mean()

In [ ]:
df_Dper1000I['2018']>df_Dper1000I['2018'].mean()

In [ ]:
from bs4 import BeautifulSoup
# Python 3.x
from urllib.request import urlopen, urlretrieve, quote
from urllib.parse import urljoin

#url = 'https://www.rbi.org.in/Scripts/bs_viewcontent.aspx?Id=2009/'

url = 'https://ncses.nsf.gov/pubs/nsf21303#data-tables/nsf21303-tab002.xlxs'

In [ ]:
#soup

In [ ]:

df = pd.read_excel('https://ncses.nsf.gov/pubs/nsf21303/assets/data-tables/tables/nsf21303-tab002.xlsx', index_col=0)

In [ ]:
import requests, os
import http.client

http.client.HTTPConnection._http_vsn = 10
http.client.HTTPConnection._http_vsn_str = 'HTTP/1.0'

url="https://ncses.nsf.gov/pubs/nsf21303#data-tables"

print("Downloading...")
resp = requests.get(url)
with open('nsf21303-tab002.xlsx', 'wb') as output:
    output.write(resp.content)
print("Done!")

In [ ]:
df = pd.read_excel("https://ncses.nsf.gov/pubs/nsf21303/assets/data-tables/tables/nsf21303-tab001.xlsx", skiprows = [0, 1, 2], usecols= [0, 1, 3, 5])

In [ ]:
df.head()

In [ ]:
df.columns