# pandas

*pandas* is a Python library for data analysis which provides fast, powerful, flexible and easy to use open source data analysis and manipulation tools. It also provides expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data both easy and intuitive.

It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

*pandas* build upon *numpy* and *scipy* providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes
* Working with timestamps and time-series data

This notebook is a summary of an introductions to pandas.

In [3]:
# Import the library with alias
import pandas as pd

In [4]:
# Associate's Degrees in Science and Engineering Conferred per 1,000 Individuals 18–24 Years Old (Degrees)
# this a publicly 
df = pd.read_excel("se-associates-degrees-per-1000-18-24-year-olds.xlsx", skiprows = [0, 1, 2])
df.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2009.2,2010.2,2011.2,2012.2,2013.2,2014.2,2015.2,2016.2,2017.2,2018.2
0,United States,38539.0,45358.0,51325.0,62930.0,60246.0,54750.0,49850.0,47485.0,49166.0,...,1.756204,1.997881,2.416858,2.670736,2.692942,2.768223,2.877261,2.851157,3.001163,3.202520
1,Alabama,573.0,640.0,714.0,885.0,746.0,635.0,509.0,357.0,383.0,...,0.769579,0.858799,1.019051,1.046430,0.975455,0.914706,0.904720,0.737081,0.651524,0.545666
2,Alaska,3.0,0.0,0.0,62.0,37.0,20.0,32.0,16.0,14.0,...,0.177477,0.477713,1.247997,0.977505,1.205228,1.005332,0.741492,0.724706,0.833785,0.511531
3,Arizona,789.0,996.0,1094.0,1328.0,1515.0,1373.0,1295.0,1496.0,2646.0,...,8.227975,12.852525,17.843667,18.761808,13.842297,11.919521,10.029093,7.814437,6.417152,5.004393
4,Arkansas,181.0,163.0,205.0,288.0,218.0,215.0,227.0,213.0,171.0,...,0.741258,0.816092,0.618154,0.587879,0.638613,0.691922,0.735230,0.635181,0.683839,0.976556

In [5]:
df.tail()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2009.2,2010.2,2011.2,2012.2,2013.2,2014.2,2015.2,2016.2,2017.2,2018.2
55,NOTES: The national associate's S&E degrees to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,"Last updated: April 29, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN