## Reading Data

You can read data from e sources using pandas such as excel, csv, online sources, SAS file, SPSS file.

In [4]:
import pandas as pd
import pyreadstat

In [8]:
# Read Excel file in local storage
df= pd.read_excel('../../Users/muluken/WorkingFiles/NSF_NCSES/Data/Other/sed17-sr-tab014_Edited.xlsx')
df.head()

                         Field of Study     Sex  Year  Number  Percent
0                         Life sciences    Male  1987    3747     64.8
1                         Life sciences  Female  1987    2036     35.2
2  Physical sciences and earth sciences    Male  1987    3177     83.4
3  Physical sciences and earth sciences  Female  1987     634     16.6
4     Mathematics and computer sciences    Male  1987     999     84.0

In [7]:
# Reading .sav (SPSS) data from local
df, meta = pyreadstat.read_sav('../../Users/muluken/WorkingFiles/Pew/Pewdata.sav')
df.head()

,PSRAID,COUNTRY,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,...,DENSITY,RACECMB,RACETHN,IPHONEUSE,HPHONEUSE,RACETHN2,PHONETYPE,WEIGHT,PSU,stratum
0,100000.0,8.0,2.0,NaN,2.0,2.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.687311,8012.0,8005.0
1,100001.0,8.0,1.0,NaN,2.0,4.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.885817,8012.0,8005.0
2,100002.0,8.0,2.0,NaN,2.0,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.957723,8012.0,8005.0
3,100003.0,8.0,2.0,NaN,2.0,3.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.885817,8012.0,8005.0
4,100004.0,8.0,2.0,NaN,2.0,4.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.185636,8012.0,8005.0

In [9]:
# Read SAS file fom local
df = pd.read_sas('../../Users/muluken/WorkingFiles/Pew/gdp.sas7bdat')
df.head()

         USA        AUS
0  38.301102  38.235500
1  38.373402  38.755100
2  38.713699  38.770599
3  38.299099  38.894798
4  39.361500  39.562099

In [ ]:
# Read SAS file fom online link
df = pd.read_sas('http://www.principlesofeconometrics.com/sas/gdp.sas7bdat')
df.head()